<h1><%= @deck.category %></h1>

<label for="title_input"><%= @cards.first.question%></label>

<form action="/card/:deck_id/:id" method= "post">
  <input id="title_input" name="guess[user_guess]" type="text" value="<%= @user_guess.try(:user_guess) %>">
  <br>
  <input type = "submit" value = "Answer">
</form>
