<h1><%= @deck.category %></h1>

<form action="/card/<%= @deck.id %>/<%= @current_card %>" method= "post">
  <label for="title_input"><%= @question %></label>
  <input id="title_input" name="guess[user_guess]" type="text">
  <br>
  <input id = "user_input" type = "submit" value = "Answer">
</form>
