<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/public/css/application.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Flashcards</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <!-- GET THIS TO LINK CORRECTLY!!!!!! -->
          <li><a href="/users/new">New User</a></li>
          <!-- ADD ADDiITIIONAL BARS IF NEEDED!!!!!! -->
          <!-- <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li> -->
        </ul>
      </div>
    </nav>
      <div class="container">
        <div class="jumbotron">
          <h1>Flashcard Quiz App</h1>
      </div>
        <!-- <div class="starter-template">
          <h1>Flashcard App</h1>
        </div> -->
          <!-- <h3><a href="/users/new">New User</a></h3> -->
        <div class="container">
          <h3>Log In</h3>
          <form action="/login" method= "post">
            <div class="form-group">
              <label for="username_input">Username:</label>
              <input id="username_input" class="form-control" name="user[username]" placeholder="Enter Email"type="text" value="<%= @username.try(:username) %>">
            </div>
          <div class="form-group">
            <label for="password_input">Password:</label>
          <input id="password_input" class="form-control" name="user[password]" placeholder="Enter Password"type="password" value="<%= @password.try(:password) %>">
          </div>
        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <div class="container">
          <button type="submit" class="btn btn-default">Log In</button>
        </div
      </form>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
        <div class="col-md-4">
          <h2>Heading 1 </h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading 2 </h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading 3</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <hr>
        <footer>
          <p>david&brad&najah 2017</p>
        </footer>
      </div>
    </div>
  </body>
</html>
