<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/public/css/application.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>
    <title>Flashcards</title>
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Flashcards</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/users/<%= current_user.id %>">Home</a></li>
            <li><a href="/profile/<%= current_user.id %>">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Flashcards</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
    <% end%>
    <%= yield %>
  </body>
</html>  
